@import 'box';
@import 'functions_partial.scss';
@import 'typography';
@import 'mixins';

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

.page-title {
  @include large-text;
  padding: 4px;
  margin-top: 10px;
}

@include apply-to-ie6-only {
  #logo {
    background-image: url(/logo.gif);
  }
}
