body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}


main {
  .nested-rules {
    .section-title {
      color: crimson;

      &-yellow {
        color: yellow;
      }
    }

    p {
      font-size: 80%;
    }

    a {
      color: rgba(#000, 0.7);

      &:hover {
        color: crimson;
      }
    }
  }
}

// Variables
$primary-color: black;
$btn-font-size: 18px;


// Data Types
// Numbers
$padding3: 3px;
// Strings
$hello: "Hello World";
// Colors
$hector: red;
// Booleans
$verdad: true;
$falso: false;
// Null
$nope: null;
// Lists
$btn-padding: 1px 2px 5px 6px;
// Maps
$map: (primary: black, secondary: darkgrey, alternative: gray);

// Operations
p {
  font: 10px/8px;             // Plain CSS, no division
  $width: 1000px;
  width: $width/2;            // Uses a variable, does division
  width: round(1.5)/2;        // Uses a function, does division
  height: (500px/2);          // Uses parentheses, does division
  margin-left: 5px + 8px/2px; // Uses +, does division
  font: (italic bold 10px/8px); // In a list, parentheses don't count
}

p {
  color: #010203 * 2;
}

p {
  cursor: e + -resize;
}

p {
  width: 1em + (2em * 3);
}
