body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}


main {
  .nested-rules {
    .section-title {
      color: crimson;

      &-yellow {
        color: yellow;
      }
    }

    p {
      font-size: 80%;
    }

    a {
      color: rgba(#000, 0.7);

      &:hover {
        color: crimson;
      }
    }
  }
}

// Variables
$primary-color: black;
$btn-font-size: 18px;


// Data Types
// Numbers
$padding3: 3px;
// Strings
$hello: "Hello World";
// Colors
$hector: red;
// Booleans
$verdad: true;
$falso: false;
// Null
$nope: null;
// Lists
$btn-padding: 1px 2px 5px 6px;
// Maps
$map: (primary: black, secondary: darkgrey, alternative: gray);


.hector {
  color: $hector !important;
}

@each $name, $color in $map {
  .c-#{$name} {
    color: $color;
  }
}

%btn {
  background-color: $primary-color;
  color: white;
  border-color: $primary-color;
  padding: $btn-padding;
  font-size: $btn-font-size;
}

.btn {
  @extend %btn;
}

.btn-blue {
  @extend %btn;

  &:hover {
    background-color: darkgray;
  }
}

.hello-world {
  padding: $padding3;

  &:after {
    content: $hello;
  }
}

