---
title: michelada.io
---

<h1>
  Sobres y Sass
</h1>

<main>
  <section class='nested-rules'>
    <h2 class='section-title'>Nested Rules!</h2>
    <h2 class='section-title-yellow'>Another title</h2>
    <p> 
      Parum clari, fiant sollemnes in futurum.

      Nunc varius risus quis nulla. Vivamus vel magna. Ut rutrum. Aenean dignissim,
      leo quis faucibus semper, massa est faucibus massa, sit amet pharetra arcu nunc
      et sem. Aliquam tempor. Nam lobortis sem non urna. Pellentesque et urna sit
      amet leo accumsan volutpat. Nam molestie lobortis lorem. Quisque eu nulla.
      Donec id orci in ligula dapibus egestas. Donec sed velit ac lectus mattis
      sagittis.

      In hac habitasse platea dictumst. Maecenas in ligula. Duis tincidunt odio
      sollicitudin quam. Nullam non mauris. Phasellus lacinia, velit sit amet
      bibendum euismod, leo diam interdum ligula, eu scelerisque sem purus in tellus.

      Lorem ipsum.
    </p>
    <%= link_to(
      "Read Documentation",
      "http://sass-lang.com/documentation/file.SASS_REFERENCE.html#extend",
      target: "_blank"
    ) %>
    

    <button class='btn-blue'>Accept</button>

  </section>
</main>

