---
title: michelada.io
---

<h1> Sobres y Sass </h1>

<main>
  <h2>Functions</h2>
  <!-- rgba -->
  <div>
    <div class='box blue-100'></div>
    <div class='box blue-80'></div>
    <div class='box blue-60'></div>
    <div class='box blue-40'></div>
  </div>

  <div>
    <div class='box'></div>
    <div class='box light'></div>
    <div class='box dark'></div>
    <div class='box desaturated'></div>
  </div>

  <a href='http://www.gardening.cornell.edu/homegardening/scene638f.html'>
    <img src='http://www.gardening.cornell.edu/homegardening/feature_gardening/img/using_color/17.gif'>
  </a>

  <div>
    <div class='box'></div>
    <div class='box complement'></div>
  </div>

  <div>
    <div class='box large'></div>
    <div class='box small'></div>
  </div>
</main>

